.login-container {
  padding: 0 10%;
  display: flex;
  justify-content: space-around;
  min-height: 80vh;
  align-items: center;
}

.login-container .left-side {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../../../public/images/login-signup.avif");
  width: 532px;
  height: 526px;
  background-size: cover;
  border-radius: 12px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login-container .left-side p {
  font-size: 20px;
  font-weight: 400;
  margin: 4px 0px;
}

.login-container .left-side .left-side-content {
  margin: 46px;
}

.right-form {
  font-size: 22px;
  font-weight: 700;
  width: 360px;
}

.right-form .top-text {
  font-size: 14px;
  font-weight: 400;
  color: #696969;
}

.right-form .bottom-text {
  margin-bottom: 10px;
}

.right-form .link-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}

.right-form .link-text a {
  color: #000000;
  font-weight: 700;
}
