.admin-container .title {
  font-size: 32px;
  font-weight: 700;
}

.admin-container {
  min-height: 80vh;
}

.admin-container .counter-section {
  display: flex;
  margin-top: 40px;
  gap: 30px;
  flex-wrap: wrap;
}
.admin-container .counter-section .counter {
  display: flex;
  flex-direction: row;
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  padding: 16px 18px;
  width: 260px;
  height: 70px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #696969;
}

.admin-container .counter-section .counter .count {
  font-size: 28px;
  color: #333;
  font-weight: 600;
}

.admin-container .counter-section .counter .count-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.admin-container .form {
  padding: 30px 0px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.admin-container .profile-picture {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.admin-container .center {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 24px 0px;
  width: 100%;
  max-width: 700px;
}

.admin-container p {
  font-size: 14px;
}

.receipt-items {
  margin-top: 20px;
}
.receipt-items table tr th {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.receipt-items table th,
td {
  padding: 10px 4px;
}

.recepit-container .add-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.recepit-container .service-field {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}

.recepit-container .receipt-items {
  overflow-y: scroll;
  max-height: 400px;
}
